// =============================================================================
//
// Name:          List-inline
//
// Description:   List of items in one line.
//
// Block:         `o-list-inline`
//
// Modifier:      `o-list-inline--delimited`
//
// Markup:
//
// <ul class="o-list-inline">
//     <li>...</li>
//     <li>...</li>
//     <li>...</li>
// </ul>
//
// =============================================================================





// Variables
// =============================================================================

// Predefine the variables below in order to alter and enable specific features.

$tree-list-inline-namespace:            $tree-namespace !default;

$tree-enable-list-inline--delimited:       false !default;
$tree-list-inline-delimit-character:    ",\00A0" !default;





// =============================================================================
// Block: `o-list-inline`
// =============================================================================

.#{$tree-list-inline-namespace}o-list-inline {
    margin:  0;
    padding: 0;
    list-style: none;

    > li {
        display: inline-block;
    }

}





@if ($tree-enable-list-inline--delimited == true) {

    // Modifier: `o-list-inline--delimited`
    // =========================================================================

    // Comma delimited list to semantically mark up lists of tags, etc.
    //
    // N.B. This component requires that you remove the whitespace between LIs.
    //      The simplest (and valid) way to achieve this is by omitting the
    //      closing `</li>` tag.

    .#{$tree-list-inline-namespace}o-list-inline--delimited {

        > li + li {

            &:before {
                content: "#{$tree-list-inline-delimit-character}";
            }

        }

    }

}
