// *************************************
//
//   #LIST-INLINE
//
// *************************************

// The list-inline object simply displays a list of items in one line.

// Predefine the variables below in order to alter and enable specific features.
$tree-list-inline-namespace:            $tree-namespace !default;

$tree-enable-list-inline--delimited:    false !default;
$tree-list-inline-delimit-character:    ",\00A0" !default;





.#{$tree-list-inline-namespace}list-inline,
%#{$tree-list-inline-namespace}list-inline {
    margin:  0;
    padding: 0;
    list-style: none;

    > li {
        display: inline-block;
    }

}





@if ($tree-enable-list-inline--delimited == true) {

    // Comma delimited list to semantically mark up lists of tags, etc.
    //
    // N.B. This component requires that you remove the whitespace between LIs.
    //      The simplest (and valid) way to achieve this is by omitting the
    //      closing `</li>` tag.

    .#{$tree-list-inline-namespace}list-inline--delimited,
    %#{$tree-list-inline-namespace}list-inline--delimited {

        > li + li {

            &:before {
                content: "#{$tree-list-inline-delimit-character}";
            }

        }

    }

}
